In [1]:
# Start writing code here...

In this notebook, I am attemting an EDA on a kaggle dataset with a list of the world's highest-paid athletes since the first list published by Forbes in 1990. I conducted my initial analysis with guidance from Parul Pandey's analysis on the same dataset. Note that records for 2001 are missing because of a change in reporting period from the full calendar year to June-to-June in 2002.

In [2]:
#importpandas
import pandas as pd
import os

#find the directory for your data
working_directory = os.getcwd()
path = working_directory + '/Forbes_Richest_Atheletes .csv'

#read csv file from directory
df = pd.read_csv(path)

#Have an overview of your data
df.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

There are many operations we will be carrying out on the dataframe but first, let's create a copy of the original dataframe to have an idea of what the data looks like.

In [3]:
df1 = df.copy()
df1.drop('S.NO',axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  301 non-null    object
 1   Nationality           301 non-null    object
 2   Current Rank          301 non-null    int64
 3   Previous Year Rank    277 non-null    object
 4   Sport                 301 non-null    object
 5   Year                  301 non-null    int64
 6   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 16.6+ KB

In [4]:
# Convert string to datetime64
df1['Year'] = df1['Year'].apply(pd.to_datetime,format='%Y')

#Set Date column as the index column.
df1['year'] = pd.DatetimeIndex(df1['Year']).year  
df1.set_index('year', inplace=True)
df1.drop('Year',axis=1,inplace=True)

# Converting the sport column to uppercase
df1['Sport'] = df1['Sport'].str.upper()
df1.head()

# df is the original dataframe while df1 is a copy where the Date has been set as an index column

,Name,Nationality,Current Rank,Previous Year Rank,Sport,earnings ($ million)
year,,,,,,
1990,Mike Tyson,USA,1,NaN,BOXING,28.6
1990,Buster Douglas,USA,2,NaN,BOXING,26.0
1990,Sugar Ray Leonard,USA,3,NaN,BOXING,13.0
1990,Ayrton Senna,Brazil,4,NaN,AUTO RACING,10.0
1990,Alain Prost,France,5,NaN,AUTO RACING,9.0

In [5]:
# Top Paid Athelete For Each Year
Top_paid_each_year = df1[df1['Current Rank'] == 1].sort_values(by='year',ascending=False)

z = Top_paid_each_year[['Name','Sport','Nationality','earnings ($ million)']]

#z.style.set_properties(**{'background-color': 'pink',
                           # 'color': 'black',
                            #'border-color': 'white'})
z.style.background_gradient(cmap='Reds')

In [6]:
#Atheles appearing maximum times on the list
s = df['Name'].value_counts().to_frame()[:5]
s.style.background_gradient(cmap='Reds')

In [7]:
# Athletes who appeared only once on the list.
names = df['Name'].value_counts().to_frame()
names[names['Name']==1].index

# On scanning the list, we find the name of a sole women athlete- monica seles
monica = df[df['Name'] == 'Monica Seles']
monica.style.set_properties(**{'background-color': 'grey',
                            'color': 'black',
                            'border-color': 'black'})

In [8]:
top_earners_alltime = pd.pivot_table(df, index='Name',values="earnings ($ million)", aggfunc='sum')
top3_earners_all = top_earners_alltime.sort_values(by="earnings ($ million)",ascending=False)[:3]

top3_earners_all.style.background_gradient(cmap='Reds')

In [9]:
import plotly.graph_objs as go
from plotly import tools

In [10]:
!pip install chart_studio==1.1.0

Requirement already satisfied: chart_studio==1.1.0 in /root/venv/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: plotly in /shared-libs/python3.7/py/lib/python3.7/site-packages (from chart_studio==1.1.0) (5.1.0)
Requirement already satisfied: retrying>=1.3.3 in /root/venv/lib/python3.7/site-packages (from chart_studio==1.1.0) (1.3.3)
Requirement already satisfied: six in /shared-libs/python3.7/py-core/lib/python3.7/site-packages (from chart_studio==1.1.0) (1.16.0)
Requirement already satisfied: requests in /shared-libs/python3.7/py/lib/python3.7/site-packages (from chart_studio==1.1.0) (2.26.0)
Requirement already satisfied: tenacity>=6.2.0 in /shared-libs/python3.7/py/lib/python3.7/site-packages (from plotly->chart_studio==1.1.0) (8.0.1)
Requirement already satisfied: idna<4,>=2.5 in /shared-libs/python3.7/py/lib/python3.7/site-packages (from requests->chart_studio==1.1.0) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /shared-libs/python3.7/py/lib/python3.7/site-packages (from requests->chart_studio==1.1.0) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /shared-libs/python3.7/py/lib/python3.7/site-packages (from requests->chart_studio==1.1.0) (2.0.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /shared-libs/python3.7/py/lib/python3.7/site-packages (from requests->chart_studio==1.1.0) (1.26.6)
WARNING: You are using pip version 21.1.3; however, version 21.2.1 is available.
You should consider upgrading via the '/root/venv/bin/python -m pip install --upgrade pip' command.

In [11]:
from chart_studio.plotly import plot, iplot

In [12]:
import plotly.express as px

alt.Chart(...)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=06380b80-a016-44c6-b3eb-07175780253b' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>